.Header {
  margin-top: 40px;
  margin-bottom: 30px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderLeft {
  font-size: 1.5em;
}
.HeaderRight {
  color: white;
  font-size: 1.6em;
}

.AvatarLink {
  color: white;
}
.AvatarLink:hover {
  color: white;
  text-decoration: none;
}
