.ProfileWrapper {
  /* background-color: #eee; */
  text-align: center;
  margin-top: 60px;
  color: rgba(0,0,0,0.48);
}
.ProfileTitle {
  font-weight: 300;
  font-size: 1.8em;
  color: rgba(0,0,0,0.7);
}

.ProfileTotal {
  margin-top: 50px;
}
.ProfileCompleted {
  margin-top: 30px;
}
.ProfileIncompleted {
  margin-top: 30px;
}

.ProfileH {
  font-weight: 200;
}
.ProfileP {
  font-weight: 100;
}
